@import url('https://fonts.googleapis.com/css2?family=Red+Rose&display=swap');
.App {
  font-family: 'Red Rose', cursive;
  text-align: center;
}

h2 {
  color: white;
}

label {
  color: white;
}

.dogformcont {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  width: 90%;
}

.form-control {
  width: 38% !important;
}

form {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submitForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15vh;
}

.formTitle {
  margin-top: 10vh;
}

.cardCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}

.dogTitle {
  margin-bottom: 7vh;
}

#formGroupName {
  width: 90%;
}

.landing h1 {
  color: white;
  margin-top: 20vh;
}